<%-## if display question contains comma render multiresponse else render single response -%>
<div id="container">

			<%= render 'questiondisplay' %>

</div>
<% if current_student.language=="zh-CN" %>
<%= javascript_include_tag "challenge-cn" %>
<% elsif current_student.language=="zh-TW"%>
<%= javascript_include_tag "challenge-tw" %>
<% else %>
<%= javascript_include_tag "challenge-en" %>
<% end %>
