<div id="container">
  <div id="content">
    <div class="grid_10">
      <%=t('prize_intro').html_safe %>
	<%=t('prize_condition').html_safe %>
      <p><%= link_to t("back_to_sign_in"), new_session_path(resource_name) %></p>
    </div><!-- /.grid-5 -->
  </div><!-- /#content -->
</div><!-- /container -->

