<% cache do %>
<div id="footer">
	<div id="footer-wrapper">
		<div id="copyright">
		<%= link_to(image_tag("logo-sp-footer.png",:alt=>"Singapore Polytechnic",:title=>"Singapore Polytechnic",:width=>"200",:style=>"margin-bottom: 10px;"),("http://www.sp.edu.sg"),:target=>"_blank")%>
			<span><%=t('support_mail').html_safe %></span>
		</div><!-- /#copyright -->
	</div>
</div>
<% end %>




