<div id="header">	
	<div id="header-wrapper" class="subpage">
		<%= link_to(image_tag("rh-challenge-logo-small-en.png",:alt =>"logo left",:class=>"logo left"),student_session_path) %>
		<%= link_to(image_tag("RH-logo-wht.png",:alt =>"logo right",:class=>"rh-logo right"),("http://www.example.com"),:target=>"_blank")%>
	</div>				
</div>


