<div id="header">	
	<div id="header-wrapper" class="homepage">
		<%= link_to(image_tag("rh-challenge-logo-cn.png",:alt =>"Red Hat",:class=>"logo left"),student_session_path) %>		
		<%= link_to(image_tag("RH-logo-wht.png",:alt =>"Red Hat",:class=>"rh-logo right"),("http://www.redhat.com"),:target=>"_blank")%>
		<%= link_to(image_tag("logo-sp.png",:alt=>"Singapore Polytechnic",:title=>"Singapore Polytechnic",:class=>"logo-sp",:width=>"200",:height=>"80"),("http://www.sp.edu.sg"),:target=>"_blank")%>
	</div><!-- /#header-wrapper -->
</div>


